<div>
  <h1 class="font-bold text-4xl text-blue-500">Public#index</h1>
  <div>
    <h3 class="font-bold text-3xl">Canvas Confetti</h3>
    <p data-controller='hello' data-action='click->hello#handleClick'></p>
  </div>
  <div>
    <h3 class="font-bold text-3xl">Sortable</h3>
    <ul data-controller="position">
      <li>Javascript</li>
      <li>Ruby on Rails</li>
      <li>Import Maps</li>
    </ul>
  </div>
  <div>
    <h3 class="font-bold text-3xl">React</h3>
    <p id="react-example"></p>
    <p id="timer-example"></p>
    <p id="todos-example"></p>
  </div>
  <div>
    <h3 class="font-bold text-3xl">Vue</h3>
      <div id="app-vue">
        <p>Hello {{ name }}</p>
        <button @click="increment" style="font-weight: bold;">Increment {{count}}</button>
        </button>    
      </div>
    </h3>
  </div>
</div>